@model Discussions.Models.Topic

<style>
.dateText {
    float: right;
    margin: 0px;
}
.authorText {
    
}

#authorImage {
    border-radius: 30px;
    padding: 20px; 
    width: 60px;
    height: 60px;
}

.commentText {
    clear: right;
    padding-left: 80px;
    padding-top: 20px;

}
</style>

<h3>@Model.title</h3>
@foreach (var item in @Model.comments)
{
<hr>
<p>
    <img src=@item.author.imageUrl width="80" style="float: left; padding-right: 20px;" />
    <div class="dateText">3d ago</div>
    <div class="authorText">chris-g</div>
    <div class="commentText">@Html.Raw(@item.message)</div>
</p>   
}
<a asp-action="Reply" method="post">Reply</a> |
